@keyframes entradaLentaRapida {
from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

body {
animation: entradaLentaRapida 1s cubic-bezier(0.4, 0, 1, 1) both;
}
