// responsive para pantallas peques
@media (max-width: 768px) {
.card-container {
    flex-direction: column;
    align-items: center;
}

.travel-card {
    width: 90%;
    max-width: 350px;
}
}

@media (max-width: 768px) {
.paquetes .card {
    flex: 1 1 100%;
}
}
