// variables de colores, fuentes y medidas
$font-stack: "Josefin Sans", sans-serif;
$primary-color: #1c7cbd;
$secondary-color: #0e4b74;
$text-color: #000;
$background-light: #f9f9f9;
$card-radius: 8px;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
